html, body{
	width: 100%;
	height: 100%;
	font-size: 25px;
}
	background: #e6ecee;
/* header */
.card-headers{
	height: 40px;
	padding: 0 0 0 0;

}
.card-headers a{
	margin-left: 20px;
	text-align: center;
	font-size: 20px;
}

.card-block{
	display: flex;
    flex-direction: row;
    align-items: center;
}
.card-block-a.right{
		display: flex;
}

input {
    border-radius: 10px;
}
a.btn.btn-right {
    background: #7e9e7a;
    height: 42px;
    padding: 2px 2px 3px 4px;
    margin-left: 10px;
    
}

/* end-header */
/* begin-menu */
.container-fluid{
	background-color: darkgreen;
}

.nav-tabs li a:hover {
	color: red !important;
}
/* end - menu */

/* begin -contet */
.jumbotron{
	padding: 5px;
	border-radius: 0px;
}
.jumbotron h4{
	text-align: center;
}
.jumbotron p{
	color: #007bff;
	font-size: 25px;
}
.jumbotron h6{
	text-align: center;
	color: #007bff;
}
.jumbotron .col-md-2 p{
	text-align: center;
	font-size: 19px;
}
.jumbotron .col-md-2 {
	border-left: 1px solid #f8bcb0;
}
.luy{
	color: red !important;
	font-size: 20px !important;
	text-align: center;
}
.col-md-4 {
    margin-bottom: 15px;
}
.card{
	background-color: #ced5ec;
}
.card-block a{
	margin-left: 30px;
	color: red;
}


li.list-group-item.active {
    padding: 0px;
}
li.list-group-item {
    padding: 0px;
}
li.list-group-item.active p{
    font-size: 15px;
}
li.list-group-item img{
    width: 50px;
}


.alert {
	margin-top: 10px;
	padding: 0;
}
/* end-content */

/*  footer */

.page-footer{
	background: #000;
}

.font-weight-bold{
	color: #fff;
}

/* end container */
/* Media Query */
/* @media (max-width: 992px){
	carousel-caption{
	position: absolute;
	top: 40%;
}
.carousel-caption h1{
	font-size: 150%
	
}
}
@media (max-width: 768px){
	
}
@media (max-width: 576px){
	
} */